<div class="container">
    <nav class="side">
        <div>
            <h4 class="pt-5 pb-5">Welcome, Eric Estrada</h4>
        </div>
        <ul class="list-unstyled">
            <li>
                <a routerLink="/account">My Account</a>
            </li>
            <li>
                <a routerLink="/private">Home</a>
            </li>
            <li>
                <a routerLink="/mycases">My Cases</a>
            </li>
            <li>
                <a routerLink="/myalgorithms">My Algorithms</a>
            </li>
            <hr>
            <ul class="pt-4 list-unstyled" >
                <li>
                    <a routerLink="/uploadcase">Upload Case</a>
                </li>
                <li>
                    <a routerLink="/uploadalgorithm">Upload Algorithms</a>
                </li>
            </ul>
        </ul>
    </nav>
</div>