.navbar{
    background-color: rgba(241,241,225,255);
}
.container-fluid{
    border-bottom: 2px solid;
}
/* #logout{
    color: white;
} */
a{
    text-decoration: none;
    color: black;
}
#logo-text{
    font-size: 26px;
}
#nav a:hover {
    border-bottom: 2px solid black;
  }
#nav{
    font-size: 18px;
    padding-right: 50px;
    display: inline-block;
}
#nav a{
    margin-left: 10px;
    font-size: 18px;
}
#nav .logo2{
    width: 20px;
}
#nav .desktop-search__form-input{
    padding-right: 10px;
    font-size: 15px;
    padding-top: 5px;
    padding-bottom: 4px;
    margin-left: 5px;
}
#nav .desktop-search__form-btn{
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: aliceblue;
}
#nav .form-select{
    padding-right: 60px;
    font-size: 15px;
    padding-top: 6px;
    padding-bottom: 6px;
}
#nav .form-group{
    display: inline-block;
}
#nav select{
    padding-right: 30px;
    margin-right: 40px;
} 
img{
    width: 95px;
    height: 90px;
}
