<nav class="navbar p-0 m-0 sticky-top position-sticky">
    <div class="container-fluid p-0">
         <div>
            <a routerLink="/private" routerLinkActive="active">
                  <img class="ms-2" src="../../../assets/img/logo.png" alt="logo">
                   <span id="logo-text"> Scientific Repository</span>
              </a>
          </div>
          <div class="navbar-nav" id="nav">
            <br>
            <input #input (keyup)="search(input.value)" class="form-control" type="text" placeholder="Search...">
            <br>
        </div>
         
            <!--div class="form-group">
                
                <label class="form-label" for="filter"></label>
                <select class="form-select" id="filter" name="filter" aria-label="Filter for search">
                    <option selected>Filter...</option>
                    <option value="1">Last uploads</option>
                    <hr>
                    <option value="2">Organs</option>
                    <hr>
                    <option value="3">...</option>
                </select>
            </div>
            <input [(ngModel)]="find" id="desktop-search__form-input" type="text" class="desktop-search__form-input" value="" placeholder="Search..." autocomplete="on" autocapitalize="off">
            <button class="desktop-search__form-btn" value="Buscar" >
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20px" height="20px" viewBox="0 0 20 20" version="1.1" class="logo2">
                      <g stroke="none" stroke-width="1" fill="#4D4D4D" fill-rule="evenodd" transform="translate(-913.000000, -67.000000)">
                          <g transform="translate(295.000000, 56.000000)">
                              <g transform="translate(628.000000, 21.000000) rotate(-360.000000) translate(-628.000000, -21.000000) translate(615.000000, 8.000000)">
                                  <path d="M11.2529758,3.65625 C15.4472837,3.65625 18.8489062,7.03891003 18.8489062,11.2129961 C18.8489062,13.1034298 18.1514268,14.8314722 16.9986769,16.1565576 L22.1690278,21.3256368 C22.4019907,21.5585443 22.4019907,21.9361619 22.1690278,22.1690694 C21.9360648,22.4019769 21.5583572,22.4019769 21.3253942,22.1690694 L16.1473222,16.9928167 C14.8253066,18.102108 13.1174838,18.7705375 11.2529758,18.7705375 C7.0578718,18.7705375 3.65625,15.3878767 3.65625,11.2129961 C3.65625,7.03877719 7.05800592,3.65625 11.2529758,3.65625 Z M11.2529758,4.84904377 C7.71547879,4.84904377 4.84932807,7.69899332 4.84932807,11.2129961 C4.84932807,14.7276818 7.71536562,17.5777437 11.2529758,17.5777437 C14.7899031,17.5777437 17.6558281,14.72757 17.6558281,11.2129961 C17.6558281,7.69910507 14.78979,4.84904377 11.2529758,4.84904377 Z" id="Combined-Shape"></path>
                              </g>
                          </g>
                      </g>
                  </svg>
             </button> -->
            <!--<a class="me-2" *ngIf="verify" routerLink="/login" routerLinkActive="active">My Account</a>-->
            <a class="me-5 pe-3 fw-semibold btn btn-danger btn-sm" *ngIf="isAut()" style="cursor: pointer;" (click)="onLogOut()">LogOut</a> 
         </div>
      
</nav>