input{
    border-radius: 3px;
}
.container{
    max-width:100%;
    padding-top: 45px;
    padding-bottom: 50px;
}
#wrap{
    width: 360px;
    text-align: center;
    border: 2px solid;
    border-radius: 8px;
    background-color:whitesmoke;
}
#addnew{
    width: 380px;
    border-radius: 8px;
    border: 2px solid black;
}