<div>
    <app-sidebar></app-sidebar>
</div>
<div class="container row">
    <div class="container-fluid my-4 pb-2" id="wrap">
        <h2 class="text-center">Treatment Data</h2>
        <form [formGroup]="treatmentForm" (ngSubmit)="sendDataTreatment()" class="row g-2 px-2" novalidate>
            <div class="form-group">
                <label class="form-label" for="treatmentInfo">Information About Treatment</label>
                <textarea class="form-control"  rows="2" formControlName="treatmentInfo" id="treatmentInfo"></textarea>
            </div>
            <div class="form-group col-md-6">
                <label class="form-label" for="numberOfBeams">Number of Beams Used</label>
                <div class="form-group col-md-8">
                    <input type="number" class="form-control"  formControlName="numberOfBeams" id="numberOfBeams">
                </div>
                <!-------------------- Inicio validacion ----------------->
                <div *ngIf="treatmentForm.controls['numberOfBeams'].invalid && (treatmentForm.controls['numberOfBeams'].dirty) || (treatmentForm.controls['numberOfBeams'].touched)">
                    <div *ngIf="treatmentForm.controls['numberOfBeams'].hasError('required')">
                         <span class="text-danger">*Campo es obligatorio</span>
                    </div>
                </div>  
                <!--------------------- Fin validacion -------------------> 
            </div>
            <!-- <div class="form-group col-md-6">
                <label class="form-label" for="numbeamlets">Number of Beamlets Used</label>
                <input type="number" class="form-control"  name="numbeamlets" id="numbeamlets">
            </div> -->
            <!-- <div class="form-group">
                <span class="h5">Linac Configuration</span>
                <div class="form-group col-md-6">
                    <label class="form-label" for="numbeamlets">Gantry Angle</label>
                    <input type="number" class="form-control"  name="numbeamlets" id="numbeamlets">
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label" for="couch">Couch</label>
                    <input type="number" class="form-control"  name="couch" id="couch">
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label" for="collimator">Collimator</label>
                    <input type="number" class="form-control"  name="collimator" id="collimator">
                </div>
            </div> -->
            <div class="mt-4">
                <!-- routerLink="/mycases" -->
                <button class="btn btn-primary" [disabled]="treatmentForm.invalid" type="submit"  >Save</button>
                <button class="btn btn-secondary ms-4" routerLink="/mycases"  type="button" >Back</button>
            </div>
            
        </form>
    </div>
</div>
