<div>
    <app-sidebar></app-sidebar>
</div>
<div class="container row">
    <div class="container-fluid my-5 pb-3" id="wrap">
        <h2 class="text-center">Case Data</h2>
        <form [formGroup]="caseForm" (ngSubmit)="sendDataCase()" class="row g-2 px-2" novalidate>
            <div class="form-group">
                <label class="form-label" for="casename">Case Name</label>
                <input type="text" class="form-control"  formControlName="casename" id="casename">
                
                <!-------------------- Inicio validacion ----------------->
                <div *ngIf="caseForm.controls['casename'].invalid && (caseForm.controls['casename'].dirty) || (caseForm.controls['casename'].touched)">
                    <div *ngIf="caseForm.controls['casename'].hasError('required')">
                         <span class="text-danger">*Nombre del caso es obligatorio</span>
                    </div>
                    <div *ngIf="caseForm.controls['casename'].hasError('maxlength')">
                         <span class="text-danger">*Maximo de caracteres es 100</span>
                    </div>
                </div>  
                <!--------------------- Fin validacion -------------------> 
            </div>
            <div class="form-group">
                <label class="form-label" for="cancername">Type Of Cancer</label>
                <input type="text" class="form-control"  formControlName="cancername" id="cancername">
            </div>
            <div class="form-group">
                <label class="form-label" for="cancerdescription">Extra Information About Type of Cancer</label>
                <textarea class="form-control"  rows="2" formControlName="cancerdescription" id="cancerdescription"></textarea>
            </div>
            <!------------------ INICIO Modal------------------->
            <div class="form-group">
                <button class="btn btn-primary"type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Organ Affected</button>
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Add Organ Affected</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body ">
                          <form>
                            <div class="form-group">
                                <label class="form-label" for="typecancer">Organ Affected</label>
                                <select class="form-select"  id="typecancer" name="typecancer" aria-label="Combobox for Organs">
                                    <option selected></option>
                                    <option value="1">Head and Neck</option>
                                    <option value="2">Liver</option>
                                    <option value="3">Prostate</option>
                                    <option value="4">Lung</option>
                                    <option value="5">Breast</option>
                                  </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="form-label" for="volume">Volume</label>
                                <div class="form-group col-md-8">
                                    <input type="number" class="form-control"  name="volume" id="volume">
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="form-label" for="voxels">Number of Voxels</label>
                                <input type="number" class="form-control"  name="voxels" id="voxels">
                            </div>
                            <div class="form-group col-md-6">
                                <label class="form-label" for="prescribed-dose">Prescribed Dose</label>
                                <div class="form-group col-md-4">
                                    <input type="number" class="form-control"  name="prescribed-dose" id="prescribed-dose">
                                    <span class="input-group-text">Gy</span>
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <label class="form-label" for="index">Index</label>
                                <select class="form-select" id="index" name="index" aria-label="Combobox for Indexes">
                                    <option selected></option>
                                    <option value="1" >D95</option>
                                    <option value="2">V95</option>
                                    <option value="3">Dmin</option>
                                    <option value="4">Dmean</option>
                                    <option value="5">Dmax</option>
                                  </select>
                            </div>
                          </form>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                          <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
            <!----------------------------- TERMINO Modal---------------------->
            <div class="row align-items-center">
                <div class="form-check pt-4 ps-5 col-md-4">
                    <input class="form-check-input" value="" type="checkbox" formControlName="noncoplanar" id="noncoplanar" checked>
                    <label class="form-check-label" for="noncoplanar">Noncoplanar</label>
                </div>
            </div>
    
            <div class="form-group">
                <label class="form-label" for="datacase">Extra Information About Case</label>
                <textarea type="text" class="form-control"  rows="1" formControlName="datacase" id="datacase"></textarea>
            </div>
            <div class="mt-4">
                <button class="btn btn-primary" type="submit" >Save</button>
                <button class="btn btn-secondary ms-4"  type="reset">Clean</button>
            </div>
            
        </form>
    </div>
</div>