#casi {
   margin-left: 30px;
}
li {
   list-style: none;
   padding-left: 80px;
}
#caja {
   background-color: rgb(238, 236, 236);
   margin-top: 15px;
   padding-bottom: 10px;
   margin-left: -40px;
   text-align: center;
   padding-top: 10px;
}
.btn {
   margin-left: 10px;
   margin-top: 10px;
   background-color: green;
   color: rgb(238, 236, 236);
   text-decoration: none;
}
#casi2 {
   margin-left: 30px;
}
#cajas {
   background-color: rgb(238, 236, 236);
   margin-top: 15px;
   padding-bottom: 10px;
   margin-left: -40px;
   text-align: center;
}
h2{
   margin-left:70px;
}