<div class="container row g-2 px-2 ">
    <div class="container-fluid" id="wrap">
        <div>
            <h2 class="py-3">LOG IN</h2>
                <div class="mb-3">
                    <input [(ngModel)]="user.Email" type="email" class="form-control" placeholder="Email" #name="ngModel">
                </div>
                <div class="mb-3">
                    <input [(ngModel)]="user.userPassword" type="password" class="form-control" placeholder="Password" #name="ngModel">
                </div>
                <button class="btn btn-primary" (click)="logIn()">Login</button>
        </div>
        <!--------------- Inicio Modal forgot password ---------------->
        <div>
            <p class="pt-4">Forgot Password?, Click <button type="button" class="btn btn-link p-0 pb-1" data-bs-toggle="modal" data-bs-target="#forgotPassModal">Here</button></p>
            <div class="modal fade" id="forgotPassModal" tabindex="-1" aria-labelledby="forgotPassModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="forgotPassModalLabel">Recover Your Account</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body ">
                            <label for="emailrecovery" >Enter your email for recover your password</label>
                            <input type="email" class="form-control" name="emailrecovery" id="emailrecovery">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Send</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!------------- Termino Modal forgot password ------------>
        <div class="mb-3">
            <a routerLink="/signin">Create new Account</a>
        </div>
    </div>
</div>

