<div>
    <app-sidebar></app-sidebar>
  </div>
  
  <div class="container-fluid  m-0">
      <table class="table align-middle">
          <thead>
            <h4 class="text-center">My Algorithms</h4>
          </thead>
          <tbody>
            <tr *ngFor="let algorithm of listaAlgorithm" >
              <td> {{algorithm.algorithmInfo}} </td>
              <td> <button type="button" class="btn btn-primary">View</button></td>
              <td><button type="button" class="btn btn-outline-primary">Edit</button></td>
              <td><button type="button" class="btn btn-dark"><i class="fa-solid fa-file-pdf"></i></button></td>
            </tr>
          </tbody>
        </table>
  </div>