<div>
    <app-sidebar></app-sidebar>
</div>
<div class="container row">
    <div class="container-fluid" id="wrap">
            <p class="mt-5 fw-bold text-center title">Algorithm Upload</p>
            <!-- <div class="container-fluid wrapper">
                <h4>Drag & Drop file(s) here</h4>
                <span>or</span>
                <br>
                <br>
                <button type="button" class="btn btn-outline-primary">Browse Files</button>
            </div> -->
            <input class="form-control"  type="file" id="formFileMultiple" multiple>
            
            <form [formGroup]="AlgorithmForm" (ngSubmit)="sendDataAlgorithm()">
                <div class="form-group mt-4">
                    <label class="form-label" for="algorithminfo">Algorithm Information</label>
                    <textarea class="form-control"  rows="2" formControlName="algorithminfo" id="algorithminfo"></textarea>
                </div>
                <div class="mt-4">
                    <!-- routerLink="/myalgorithms" -->
                    <button class="btn btn-primary" type="submit"  >Save</button>
                    <button class="btn btn-secondary ms-4"  type="reset">Clean</button>
                </div>
            </form>
    </div>
</div>
